@font-face {
    font-family: IBMPlexSans;
    src: url(../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf);
}
@font-face {
    font-family: IBMPlexMono;
    src: url(../assets/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf);
}

$font: IBMPlexMono;
$altfont: IBMPlexSans;
$bg: #000;
$txt: #FFF;
$high: #FF5A36;
