@font-face {
    font-family: IBMPlexSans;
    src: url(fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf);
}
@font-face {
    font-family: IBMPlexMono;
    src: url(fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf);
}